/* cenik */
/* mezery mezi tbody
vytvořit pseudoelement mezi tbody */


.pricelist {
    line-height: 1.5;
    margin: 0 auto 2.4rem;
    width: 90%;
    max-width: 600px;
}

.pricelist .title-pricelist  {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.title-picelist:first-child {
    font-weight: 600;
}

.pricelist :first-child {
    text-align: left;
    font-weight: normal;
    width: 70%;
}

.pricelist tr :last-child {
    text-align: right;
    font-weight: normal;
}

.pricelist-footnote {
    margin: 3rem 0 5rem;
    font-size: var(--primary-color);
    text-align: center;
}

.pricelist tbody tr .title-pricelist {
    text-align: left;
    font-size: 0.8rem;
}

@media screen and (min-width:400px) {
    .pricelist tbody tr .title-pricelist {
        font-size: 1.1rem;
    }
}

@media screen and (min-width:650px) {
    .pricelist-footnote {
        margin: 4rem 0 5rem;
        font-size: var(--primary-color);
        text-align: center;
    }
}