/* cenik */
/* mezery mezi tbody
vytvořit pseudoelement mezi tbody */


.pricelist {
    line-height: 1.5;
    font-size: var(--text-main-small);
    margin: 0 auto 1rem;
    width: 90%;
    max-width: 400px;
}

.pricelist tr :first-child {
    text-align: left;
    font-weight: normal;
    width: 70%;
}

.pricelist tr :last-child {
    text-align: right;
    font-weight: normal;
}

.pricelist-footnote {
    margin: 3rem 1.2rem;
    font-size: var(--primary-color);
}

.pricelist tbody tr .title-pricelist {
    text-align: left;
    font-weight: bold;
    font-size: 0.9rem;
}