header::after {
    content: ' ';
    border-bottom: 2px solid var(--primary-color);
    width: 20px;
    margin-top: 1rem;
}

.vacation {
    text-align: center;
    line-height: 1.8;
    margin-top: 2rem;
}

.alt {
    display: none;
}

main {
    margin-bottom: 10rem;
}
