
.logo {
    width: 130px;
    margin-top: 1rem;
}

.container-box {
    border: 2px solid var(--primary-color);
    padding: 0.7rem;
    background-color: var(--overlay-color) ;
    margin: 1rem 1rem 2rem;
    text-align: center;
    font-size: var(--text-main-small);
    line-height: 1.8;
    border-radius: 5px;
}

.container-box p:last-child {
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 0.48rem;
}

/* table */

.table-schedule {
    font-size: 0.6rem;
    text-align: center;
    margin: 0;
    min-width: 290px;
    width: 95%;
    margin: 1rem auto 3rem;
    border-collapse: collapse;
}

.table-schedule th {
    font-weight: 600;
}

.table-shedule td {
    width: 50px;
}

tr:first-child {
    padding-bottom: 0.5rem;
    line-height: 1.28;
}

td:first-child {
    font-weight: 600;
    text-transform: uppercase;
}


th:first-child {
    width: 5%;
}

.table-schedule td {
    border: 1px solid var(--overlay-color);
    padding: 0.4rem 0.2rem;  
}

.note {
    font-size: 0.6rem;
    margin: 0.48rem 0 2.48rem 0.48rem;
}

/* tr:last-child:after {
    content: '* PN = pracovní neschopnost';
    width: 200px;
    position: absolute;
    left: 0;
    bottom: -115px;
} */

/* kontakt */

.contact {
    background-color: var(--overlay-color) ;
    padding: 0.48rem 0 3rem;
}
        
address {
    font-style: normal;
}

address p {
    text-align: center;
    padding-bottom: 1rem;
    font-size: var(--text-main-small);
}


/* mapa */

.mapa {
    overflow: hidden;
    position: relative;
    margin: 1rem;
}

.mapa::before {
    content: '';
    display: block;
    padding-top: 80%;
}

.mapa iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


footer {
    margin: 0;
}