.subtitle {
    margin-top: 0;
}


.container-employee {
    margin-bottom: 3rem;
    text-align: center;
}

.container-employee .employee {
    font-weight: 600; 
    font-size: 1rem;
}

.container-employee .status {
    margin: 0.28rem 0 1.2rem 0 ;
}

header::after, 
.container-employee::after {
    content: '';
    width: 50px;
    height: 2px;
    color: var(--primary-color);
    background-color: var(--primary-color);
    margin-bottom: 1rem;
}


.phone, 
.mail {
    color: var(--primary-color);
    font-size: 0.68rem;
    margin-left: 0.48rem;
    display: flex;
    align-self: center;

}

.container-contact {
    margin: 0.48rem;
    display: flex;
    align-items: center;
}

.icon {
    font-size: 0.6rem;
    align-self: baseline;
}

.container-contact.email {
    margin-bottom: 3rem;
}


@media screen and (min-width:400px) {
    .container-employee .employee {
        font-size: 1.2rem;
    }

    .phone, 
    .mail {
        font-size: 0.88rem;
        margin-left: 1rem;
}

    
}