.subtitle {
    margin-top: 0;
}

.container-employee {
    margin-bottom: 3rem;
    text-align: center;
}

.container-employee p {
    font-size: var(--text-main-small);
    margin: 0;
}


.container-employee .employee {
    font-weight: 600; 
    font-size: 1rem;
}

.container-employee .role {
    margin: 0.3rem 0 1.2rem 0 ;
}

.phone, 
.mail {
    color: var(--primary-color);
    font-size: 0.7rem;
    margin-left: 0.5rem;
}

.container-contact {
    margin: 0.5rem;
    display: flex;
}

.icon {
    font-size: 0.6rem;
    align-self: baseline;
}

.container-contact.email {
    margin-bottom: 3rem;
}

