.img-header {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.img-header img {
    width: 80%;
}

h3 {
    text-transform: uppercase;
    font-size: 0.88rem;
    background-color: var(--primary-color);
    color:#fff ;
    padding:1rem;
    width: 85%;
    border-radius: 25px;
    font-weight: 600;
    margin-bottom: 1rem;
}
.vaccination {
    padding: 1rem 1rem 0;
}

.vaccination:last-child
 {
    margin-bottom: 4rem;
}

.vaccination dl {
    text-align: left;
    padding-left: 0.4rem;
    font-weight: 700;
}

dd {
    margin-left: 0.4rem;
    line-height: 1.5;
}

.img-injection {
    width: 100%;
    padding: 3rem 1rem 2rem;
}
