/* pojistovna */
.gallery {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
}

.gallery-item {
    display: flex;
    justify-content: center;
    padding: 0.8rem;
}

.gallery-item img {
    width: 90%;
    max-width: 280px;
}

.gallery-item:last-child {
    margin-top: 1rem;
    margin-bottom: 4rem;
}