/* pojistovna */

.gallery {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery-item {
    display: flex;
    justify-content: center;
    padding: 0.8rem;
}

.gallery-item img {
    max-width: 300px;
}

.gallery-item:last-child {
    margin-top: 1rem;
    margin-bottom: 4rem;
}


@media screen and (min-width:800px) {

    :root {
        --spacing: 0rem;
    }

    .gallery {
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .gallery-item {
        margin: auto;
    }


}