/* pojistovna */
.gallery {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    justify-content: center;
    padding: 0.8rem;
}

.item img {
    width: 50%;
}

.item:last-child {
    margin-bottom: 4rem;
}